POSTGRES_URL=
AUTH_SECRET_KEY=
AUTH_ALGORITHM=
CREDENTIALS_ENCRYPTION_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
EMBEDDINGS_API_URL=
RERANKER_API_URL=
PINECONE_API_KEY=
PINECONE_ALL_MINILM_L6_V2_INDEX=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=15
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=300
